<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Document</title>
</head>
<body class="container">
    <form class="row g-3" method="post" action=".">{%csrf_token%}
      {{form}}
      <input type="submit" value="salvar" >
      <input type="reset" value="Cancelar" onclick="location.href = '{% url 'index' %}'" >
    </form>
</body>
</html>